* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
}

.card {
  width: 550px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 8px 8px 0 rgba(255,255,255, 0.1);
  backdrop-filter: blur( 10px );
  border-radius: 12px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 20px 0px 20px 0px;
}

.header {
  width: 100%;
  height: 50px;
  border-radius: 12px 12px 0px 0px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.header--title {
  font-weight: 500;
  font-size: 22px;
} 

.entries {
  margin: 25px;
  width: 495px;
  display: flex;
}

.card--image img {
  width: 145px;
  height: 168px;
  object-fit: cover;
  padding-right: 15px;
}

.details {
  padding: 20px;
}

ul{
  list-style: none;
  display: flex;
  align-items: baseline;
}

.location--pin {
  color: #F55A5A;
  font-size: 15px;
  padding-right: 5px;
}

.location p {
  font-size: 14px;
  padding-right: 15px;
}

.location a {
  color: #918E9B;
  font-size: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .globe--icon {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}